/* C:/Users/hp/needachef/components/partner/PartnerLayout.module.css */
.shell {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
  
  .header {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  }
  
  .navbar {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    border-right: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  }
  
  .main {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
  
  .navLink {
    border-radius: var(--mantine-radius-md);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  
    &[data-active] {
    background-color: var(--mantine-color-orange-filled);
    color: var(--mantine-color-white);

    .mantine-Icon-root {
      color: var(--mantine-color-white);
    }
  }
  
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
    }
  }