.title {
  font-size: 34px;
  font-weight: 900;

  @media (max-width: 48em) {
    font-size: 24px;
  }
}

.description {
  max-width: rem(600px);
  margin: auto;

  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-orange-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  transition: transform 150ms ease, box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}
