.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content {
  max-width: 550px;

  @media (max-width: 48em) {
    max-width: 100%;
    text-align: center;
  }
}

.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: 48em) {
    font-size: 34px;
  }
}

.description {
  margin-top: var(--mantine-spacing-lg);
  font-size: var(--mantine-font-size-lg);
  color: var(--mantine-color-dimmed);
}

.imageWrapper {
  flex-shrink: 0;
}

.image {
  width: 400px;
  height: 400px;
  border-radius: var(--mantine-radius-lg);
  box-shadow: var(--mantine-shadow-xl);
  object-fit: cover;

  @media (max-width: 48em) {
    width: 300px;
    height: 300px;
  }
}