.wrapper {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.title {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-xl);

    @media (max-width: 48em) {
      font-size: 24px;
    }
}

.card {
    background-color: var(--mantine-color-body);
    height: 100%;
}

.review {
    font-style: italic;
}
