.icon {
    width: 22px;
    height: 22px;
  }
  
  .dark {
    display: none;
  }
  
  [data-mantine-color-scheme='dark'] .dark {
    display: block;
  }
  
  [data-mantine-color-scheme='dark'] .light {
    display: none;
  }
  